* {
    font-family: 'Montserrat', sans-serif;
}

/* Các CSS này dành cho toàn bộ website và desktop */
body {
    background-color:#144633;
    /* background-color:#00502F; */
    padding: 10px;
}

/* Dành cho điện thoại */
@media all and (min-width: 320px) {
    .text {
        color: white;
        font-size: 18px;
    }

    .row-2{
        /* max-height: 100px; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
 
/* Dành cho máy tính bảng */
/* @media all and (max-width: 1024px) {
 
} */

/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {

}

/* .text {
    color: white;
    font-size: 23px;
} */

.text2 {
    color: white;
    font-size: 10px;
    font-weight: lighter;
}

.row-1-col-2 {
    /* background-color: #212121; */
    height: 536px;
    max-height: 536px;
    border: 1px solid #28A745;
    border-radius: 1px;
    padding: 10px;
    overflow-y: auto;
}

.row-1 {
    /* background-color: #212121; */
    /* max-height: 10px; */
    border: 1px solid #28A745;
    border-radius: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .row-2{
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
} */

.col-style {
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
}

.avatar {
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

.buttonStyle {
    background-color: tomato;
    padding : 0 10px 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.buttonStyle:hover {
    background-color: peru;
    padding : 0 20px 0 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.buttonStyleFa {
    background-color: royalblue;
    padding : 0 10px 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.buttonStyleFa:hover {
    background-color: slateblue;
    padding : 0 20px 0 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.row-2-colum{
    /* max-height: 90px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.textTab{
    color: white;
    font-size: 12px;
    /* font-weight: lighter; */
    font-weight: bold;
}

.textTab:hover {
    color: white;
    border: none;
}

.flagStyle {
    width: 32px;
    height: 20px;
}

.searchbox {
    background-color: white;
    width: 320px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: start;
    line-height: 36px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 20px;
    text-transform: none;
    color: red;
    padding-left: 20px;
}

/* .row-1-col-2 {
    background-color: #212121;
    height: 530px;
    max-height: 530px;
    border: 1px solid gray;
    border-radius: 1px;
    padding: 10px;
    overflow-y: auto;
} */

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-total, .tooltip-death .tooltip-recover {
    font-weight: bold;
}

thead > tr > th {
    border: 1px solid white;  
    border-collapse: collapse; 
}